<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Users</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />	</head>
	<body>
		{% with messages = get_flashed_messages() %} {% if messages %}
		<div id="popup">
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
			<button onclick="popup.remove()">Okay</button>
		</div>
		{% endif %} {% endwith %}

		<h1>Register New User</h1>
		<form action="/users/register" method="POST">
			<label>
				First Name:
				<input type="text" name="first_name" />
			</label>
			<label>
				Last Name:
				<input type="text" name="last_name" />
			</label>
			<label>
				Email:
				<input type="email" name="email" />
			</label>
			<label>
				Password:
				<input type="password" name="password" />
			</label>
			<label>
				Confirm Password:
				<input type="password" name="confirm_password" />
			</label>
			<input type="Submit" value="Register" />
		</form>

		<h2>Login</h2>
		<form action="/users/login" method="POST">
			<label>
				Email:
				<input type="email" name="email" />
			</label>
			<label>
				Password:
				<input type="password" name="password" />
			</label>
			<input type="Submit" value="Login" />
		</form>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	</body>
</html>
